# Absenteeism Exercise

## Importing relevant libraries

In [42]:
import numpy as np
import pandas as pd

## Importing our Absenteeism Data

In [2]:
raw_csv_data = pd.read_csv('absenteeism.csv')
raw_csv_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [3]:
df = raw_csv_data.copy()

In [4]:
df.describe(include='all')

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
count,700.000000,700.000000,700,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
unique,NaN,NaN,432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,24/10/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,17.951429,19.411429,NaN,222.347143,29.892857,36.417143,271.801774,26.737143,1.282857,1.021429,0.687143,6.761429
std,11.028144,8.356292,NaN,66.312960,14.804446,6.379083,40.021804,4.254701,0.668090,1.112215,1.166095,12.670082
min,1.000000,0.000000,NaN,118.000000,5.000000,27.000000,205.917000,19.000000,1.000000,0.000000,0.000000,0.000000
25%,9.000000,13.000000,NaN,179.000000,16.000000,31.000000,241.476000,24.000000,1.000000,0.000000,0.000000,2.000000
50%,18.000000,23.000000,NaN,225.000000,26.000000,37.000000,264.249000,25.000000,1.000000,1.000000,0.000000,3.000000
75%,28.000000,27.000000,NaN,260.000000,50.000000,40.000000,294.217000,31.000000,1.000000,2.000000,1.000000,8.000000
max,36.000000,28.000000,NaN,388.000000,52.000000,58.000000,378.884000,38.000000,4.000000,4.000000,8.000000,120.000000

## Checking for null values

In [5]:
df.isnull().sum()

ID                           0
Reason for Absence           0
Date                         0
Transportation Expense       0
Distance to Work             0
Age                          0
Daily Work Load Average      0
Body Mass Index              0
Education                    0
Children                     0
Pets                         0
Absenteeism Time in Hours    0
dtype: int64

## Determining variables of interest

In [6]:
df = df.drop(['ID'], axis = 1)
df.describe(include='all')

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
count,700.000000,700,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
unique,NaN,432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,24/10/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,19.411429,NaN,222.347143,29.892857,36.417143,271.801774,26.737143,1.282857,1.021429,0.687143,6.761429
std,8.356292,NaN,66.312960,14.804446,6.379083,40.021804,4.254701,0.668090,1.112215,1.166095,12.670082
min,0.000000,NaN,118.000000,5.000000,27.000000,205.917000,19.000000,1.000000,0.000000,0.000000,0.000000
25%,13.000000,NaN,179.000000,16.000000,31.000000,241.476000,24.000000,1.000000,0.000000,0.000000,2.000000
50%,23.000000,NaN,225.000000,26.000000,37.000000,264.249000,25.000000,1.000000,1.000000,0.000000,3.000000
75%,27.000000,NaN,260.000000,50.000000,40.000000,294.217000,31.000000,1.000000,2.000000,1.000000,8.000000
max,28.000000,NaN,388.000000,52.000000,58.000000,378.884000,38.000000,4.000000,4.000000,8.000000,120.000000

## Creating the dummy variables

In [7]:
reason_columns = pd.get_dummies(df['Reason for Absence'])
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [8]:
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [9]:
reason_columns['check'].sum(axis=0)

700

In [10]:
reason_columns['check'].unique()

array([1], dtype=int64)

In [11]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)

In [12]:
reason_columns

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
671,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
677,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
686,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [14]:
reason_columns.loc[:, '1': '14'].max(axis=1)

0      0
1      0
2      0
3      1
4      0
5      0
6      0
7      0
8      0
9      0
10     1
11     1
12     1
13     1
14     0
15     1
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
670    0
671    0
672    1
673    0
674    0
675    0
676    0
677    1
678    0
679    1
680    0
681    1
682    0
683    0
684    0
685    0
686    1
687    0
688    0
689    0
690    0
691    0
692    1
693    1
694    0
695    1
696    1
697    1
698    0
699    0
Length: 700, dtype: uint8

In [15]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

### Concatenate Converted Column Values

In [16]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [17]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 0, 1, 2, 3], dtype=object)

In [18]:
column_names = ['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']
df.columns = column_names

In [19]:
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

## Reorder Columns

In [20]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

In [21]:
df = df[column_names_reordered]
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

## Checkpoint

In [22]:
df_reason_mod = df.copy()

## Fixing 'Date'

In [23]:
type(df_reason_mod['Date'][0])

str

In [24]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [25]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,26,2015-07-07,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,23,2015-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,2015-07-16,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23,2015-07-23,289,36,33,239.554,30,1,2,1,2

In [26]:
df_reason_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 15 columns):
Reason_1                     700 non-null uint8
Reason_2                     700 non-null uint8
Reason_3                     700 non-null uint8
Reason_4                     700 non-null uint8
Reason for Absence           700 non-null int64
Date                         700 non-null datetime64[ns]
Transportation Expense       700 non-null int64
Distance to Work             700 non-null int64
Age                          700 non-null int64
Daily Work Load Average      700 non-null float64
Body Mass Index              700 non-null int64
Education                    700 non-null int64
Children                     700 non-null int64
Pets                         700 non-null int64
Absenteeism Time in Hours    700 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(9), uint8(4)
memory usage: 63.0 KB

### Extract the Month value

In [27]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [28]:
df_reason_mod['Date'][0].month

7

In [29]:
list_months = []

for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

df_reason_mod['Month Value'] = list_months
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

### Extracting the day of the week

In [30]:
df_reason_mod['Date'][0].weekday()

1

In [31]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [32]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,26,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,23,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,7,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,23,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [33]:
df_reason_mod.drop(['Date'], axis = 1)

,Reason_1,Reason_2,Reason_3,Reason_4,Reason for Absence,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,26,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,23,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,7,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,23,289,36,33,239.554,30,1,2,1,2,7,3
5,0,0,0,1,23,179,51,38,239.554,31,1,0,0,2,7,4
6,0,0,0,1,22,361,52,28,239.554,27,1,1,4,8,7,4
7,0,0,0,1,23,260,50,36,239.554,23,1,4,0,4,7,4
8,0,0,1,0,19,155,12,34,239.554,25,1,2,0,40,7,0
9,0,0,0,1,22,235,11,37,239.554,29,3,1,1,8,7,0
10,1,0,0,0,1,260,50,36,239.554,23,1,4,0,8,7,0
11,1,0,0,0,1,260,50,36,239.554,23,1,4,0,8,7,1
12,1,0,0,0,11,260,50,36,239.554,23,1,4,0,8,7,2
13,1,0,0,0,11,179,51,38,239.554,31,1,0,0,1,7,2
14,0,0,0,1,23,179,51,38,239.554,31,1,0,0,4,7,2
15,1,0,0,0,14,246,25,41,239.554,23,1,0,0,8,7,4
16,0,0,0,1,23,179,51,38,239.554,31,1,0,0,2,7,4
17,0,0,1,0,21,179,51,38,239.554,31,1,0,0,8,7,0
18,1,0,0,0,11,189,29,33,239.554,25,1,2,2,8,7,3
19,0,0,0,1,23,248,25,47,205.917,32,1,2,1,2,8,2
20,1,0,0,0,10,330,16,28,205.917,25,2,0,0,8,8,2
21,1,0,0,0,11,179,51,38,205.917,31,1,0,0,1,8,0
22,1,0,0,0,13,361,52,28,205.917,27,1,1,4,40,8,0
23,0,0,0,1,28,260,50,36,205.917,23,1,4,0,4,8,4
24,0,0,1,0,18,289,36,33,205.917,30,1,2,1,8,8,0
25,0,0,0,1,25,361,52,28,205.917,27,1,1,4,7,8,0
26,0,0,0,1,23,289,36,33,205.917,30,1,2,1,1,8,1
27,0,0,0,1,28,157,27,29,205.917,22,1,0,0,4,8,2
28,0,0,1,0,18,289,36,33,205.917,30,1,2,1,8,8,2
29,0,0,0,1,23,179,51,38,205.917,31,1,0,0,2,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,28,155,12,34,246.288,25,1,2,0,4,4,1
671,0,0,1,0,19,225,26,28,246.288,24,1,1,2,8,4,3
672,1,0,0,0,14,118,13,50,246.288,31,1,1,0,2,4,3
673,0,0,0,1,27,179,26,30,246.288,19,3,0,0,2,4,4
674,0,0,0,1,22,235,11,37,237.656,29,3,1,1,8,5,0
675,0,0,1,0,19,225,15,41,237.656,28,4,2,2,3,5,2
676,0,0,0,1,28,235,16,32,237.656,25,3,0,0,2,5,2
677,1,0,0,0,8,118,10,37,237.656,28,1,0,0,3,5,2
678,0,0,0,1,26,235,20,43,237.656,38,1,1,0,8,5,2
679,1,0,0,0,13,179,26,30,237.656,19,3,0,0,1,5,3
680,0,0,0,1,28,291,31,40,237.656,25,1,1,1,2,5,3
681,1,0,0,0,14,225,15,41,237.656,28,4,2,2,8,5,3
682,0,0,1,0,19,300,26,43,237.656,25,1,2,1,64,5,4
683,0,0,0,1,22,225,15,41,237.656,28,4,2,2,8,5,4
684,0,0,0,1,27,179,26,30,237.656,19,3,0,0,2,5,4
685,0,0,0,1,23,118,13,50,237.656,31,1,1,0,2,5,0
686,1,0,0,0,5,118,13,50,237.656,31,1,1,0,3,5,1
687,0,0,0,1,28,118,10,37,237.656,28,1,0,0,1,5,1
688,0,0,0,0,0,118,13,50,237.656,31,1,1,0,0,5,1
689,0,0,0,1,27,179,26,30,237.656,19,3,0,0,2,5,2
690,0,0,0,0,0,378,49,36,237.656,21,1,2,4,0,5,2
691,0,1,0,0,16,179,22,40,237.656,22,2,2,0,1,5,4
692,1,0,0,0,10,155,12,34,237.656,25,1,2,0,48,5,0
693,1,0,0,0,10,235,16,32,237.656,25,3,0,0,8,5,0
694,0,0,0,1,22,291,31,40,237.656,25,1,1,1,8,5,2
695,1,0,0,0,10,179,22,40,237.656,22,2,2,0,8,5,2
696,1,0,0,0,6,225,26,28,237.656,24,1,1,2,3,5,2
697,1,0,0,0,10,330,16,28,237.656,25,2,0,0,8,5,3
698,0,0,0,1,23,235,16,32,237.656,25,3,0,0,2,5,3
699,0,0,0,1,28,291,31,40,237.656,25,1,1,1,2,5,3

In [34]:
df_date_reason_mod = df_reason_mod.drop(['Date'], axis=1)

## Fixing 'Education', 'Children', 'Pets'

In [35]:
display(df_date_reason_mod)

,Reason_1,Reason_2,Reason_3,Reason_4,Reason for Absence,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,26,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,23,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,7,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,23,289,36,33,239.554,30,1,2,1,2,7,3
5,0,0,0,1,23,179,51,38,239.554,31,1,0,0,2,7,4
6,0,0,0,1,22,361,52,28,239.554,27,1,1,4,8,7,4
7,0,0,0,1,23,260,50,36,239.554,23,1,4,0,4,7,4
8,0,0,1,0,19,155,12,34,239.554,25,1,2,0,40,7,0
9,0,0,0,1,22,235,11,37,239.554,29,3,1,1,8,7,0
10,1,0,0,0,1,260,50,36,239.554,23,1,4,0,8,7,0
11,1,0,0,0,1,260,50,36,239.554,23,1,4,0,8,7,1
12,1,0,0,0,11,260,50,36,239.554,23,1,4,0,8,7,2
13,1,0,0,0,11,179,51,38,239.554,31,1,0,0,1,7,2
14,0,0,0,1,23,179,51,38,239.554,31,1,0,0,4,7,2
15,1,0,0,0,14,246,25,41,239.554,23,1,0,0,8,7,4
16,0,0,0,1,23,179,51,38,239.554,31,1,0,0,2,7,4
17,0,0,1,0,21,179,51,38,239.554,31,1,0,0,8,7,0
18,1,0,0,0,11,189,29,33,239.554,25,1,2,2,8,7,3
19,0,0,0,1,23,248,25,47,205.917,32,1,2,1,2,8,2
20,1,0,0,0,10,330,16,28,205.917,25,2,0,0,8,8,2
21,1,0,0,0,11,179,51,38,205.917,31,1,0,0,1,8,0
22,1,0,0,0,13,361,52,28,205.917,27,1,1,4,40,8,0
23,0,0,0,1,28,260,50,36,205.917,23,1,4,0,4,8,4
24,0,0,1,0,18,289,36,33,205.917,30,1,2,1,8,8,0
25,0,0,0,1,25,361,52,28,205.917,27,1,1,4,7,8,0
26,0,0,0,1,23,289,36,33,205.917,30,1,2,1,1,8,1
27,0,0,0,1,28,157,27,29,205.917,22,1,0,0,4,8,2
28,0,0,1,0,18,289,36,33,205.917,30,1,2,1,8,8,2
29,0,0,0,1,23,179,51,38,205.917,31,1,0,0,2,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,28,155,12,34,246.288,25,1,2,0,4,4,1
671,0,0,1,0,19,225,26,28,246.288,24,1,1,2,8,4,3
672,1,0,0,0,14,118,13,50,246.288,31,1,1,0,2,4,3
673,0,0,0,1,27,179,26,30,246.288,19,3,0,0,2,4,4
674,0,0,0,1,22,235,11,37,237.656,29,3,1,1,8,5,0
675,0,0,1,0,19,225,15,41,237.656,28,4,2,2,3,5,2
676,0,0,0,1,28,235,16,32,237.656,25,3,0,0,2,5,2
677,1,0,0,0,8,118,10,37,237.656,28,1,0,0,3,5,2
678,0,0,0,1,26,235,20,43,237.656,38,1,1,0,8,5,2
679,1,0,0,0,13,179,26,30,237.656,19,3,0,0,1,5,3
680,0,0,0,1,28,291,31,40,237.656,25,1,1,1,2,5,3
681,1,0,0,0,14,225,15,41,237.656,28,4,2,2,8,5,3
682,0,0,1,0,19,300,26,43,237.656,25,1,2,1,64,5,4
683,0,0,0,1,22,225,15,41,237.656,28,4,2,2,8,5,4
684,0,0,0,1,27,179,26,30,237.656,19,3,0,0,2,5,4
685,0,0,0,1,23,118,13,50,237.656,31,1,1,0,2,5,0
686,1,0,0,0,5,118,13,50,237.656,31,1,1,0,3,5,1
687,0,0,0,1,28,118,10,37,237.656,28,1,0,0,1,5,1
688,0,0,0,0,0,118,13,50,237.656,31,1,1,0,0,5,1
689,0,0,0,1,27,179,26,30,237.656,19,3,0,0,2,5,2
690,0,0,0,0,0,378,49,36,237.656,21,1,2,4,0,5,2
691,0,1,0,0,16,179,22,40,237.656,22,2,2,0,1,5,4
692,1,0,0,0,10,155,12,34,237.656,25,1,2,0,48,5,0
693,1,0,0,0,10,235,16,32,237.656,25,3,0,0,8,5,0
694,0,0,0,1,22,291,31,40,237.656,25,1,1,1,8,5,2
695,1,0,0,0,10,179,22,40,237.656,22,2,2,0,8,5,2
696,1,0,0,0,6,225,26,28,237.656,24,1,1,2,3,5,2
697,1,0,0,0,10,330,16,28,237.656,25,2,0,0,8,5,3
698,0,0,0,1,23,235,16,32,237.656,25,3,0,0,2,5,3
699,0,0,0,1,28,291,31,40,237.656,25,1,1,1,2,5,3

In [36]:
df_date_reason_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [37]:
df_reason_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [38]:
df_reason_mod['Education'] = df_reason_mod['Education'].replace({1:0, 2:1, 3:1, 4:1})

In [39]:
df_reason_mod['Education'].unique()

array([0, 1], dtype=int64)

In [40]:
df_reason_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

## Final Checkpoint

In [41]:
df_preprocessed = df_date_reason_mod.copy()
df_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Reason for Absence,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,26,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,23,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,7,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,23,289,36,33,239.554,30,1,2,1,2,7,3